<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiaScript-DevServer</title>
</head>
<body>
    <div style="width: 100%; max-width: 800px; margin: auto; padding: 30px;">
        {{{body}}}
    </div>
</body>
</html>
